body{
    margin: 0;
    
}
.orange-color{
    color: orange;
}
body{
font-family: 'M PLUS 2', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Praise', cursive;
font-family: 'Shippori Antique', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-weight: 700;
}
h1{
    font-size: 40px;
}
h3{
    font-size: 25px;
}
p{
    color: grey;
    text-align: justify;
    font-weight: 100;
}
.btn{
    background-image: linear-gradient(180deg,orange,tomato);
    text-decoration: none;
    color: white;
    padding: 15px;
    border: none;
    
}
.hire-me{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.container{
    display: flex;
    justify-content: space-around;
   
}
.half{
    width: 50%;
}
.half2{
    width: 40%;
}
.left{
    margin-left: 50px;
}
.left,.right{
    margin-top: 50px;
}

div>img{
    width: 75%;
    
}
a{
    text-decoration: none;
    color: wheat;
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.web-dev{
    border-left: 5px solid;
    border-image: linear-gradient(orange,tomato);
    border-image-slice: 1;
    margin: 10px;
    box-shadow: 10px 10px 20px grey;
    border-radius: 10px;
    padding: 10px;
}
.android-dev{
    border-left: 5px solid;
    border-image: linear-gradient(blue,cyan);
    border-image-slice: 1;
    margin: 10px;
    padding: 10px;
    box-shadow: 10px 10px 20px grey;
    border-radius: 10px;
}
.experience{
    margin-top: 20px;
    background-image: url(images/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
.exp{
    margin-left: 35px;
}
footer p{
    text-align: center;
    margin-top: 40px;
}

.card{
    display: flex;
    margin-left: 15px;  
    
}
.one,.two,.three{
    padding: 10px;
}
.item{
    width: 50%;
    
}
.item>p{
    text-align: left;
}
#rdimg{
    height: 225px;
    border-radius: 10px;
}
.item img{
    width: 90%;
}